{% block head %}

{% endblock %}
{% block title %}{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation"> 
 <div class="container">

<div class="navbar-collapse collapse"> 
<ul class="nav navbar-nav">
<li><a href="/">Home</a></li>
<li><a href="/ssh/successfulconnections">Successful SSH Connections</a></li> 
<li><a href="/ssh/unsuccessfulconnections">Unsuccessful SSH Connections</a></li> 
<li><a href="/ssh/ipcallouts">SSH IP Callouts</a></li> 
<li><a href="/ssh/domaincallouts">SSH Domain Callouts</a></li> 
<li><a href="/malware/virustotal/results">Malware on VirusTotal</a></li> 
<li><a href="/malware/virustotal/noresults">Malware not on VirusTotal</a></li> 
<li><a href="/conpot/connections">ConPot Connections</a></li> 
<li><a href="/gaspot/connections">GasPot Connections</a></li>
</ul>
</div>
</div>
</div>
{% endblock %}

{% block body %}

{% endblock %}
