{% extends "base.html" %}
{% block head %}

<link href="/static/css/bootstrap.css" rel="stylesheet" media="screen">
<link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet">
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
{% endblock %}
{% block body %}
      <h3>SSH Callouts to Domains</h3>
      <table>
        <thead>
          <tr>
            <td>Domain</td>
            <td>Registrar</td>
            <td>Creation Date</td>
            <td>Expiration Date</td>
            <td>Last Updated</td>
          </tr>
        </thead>
        <tbody>
            <tbody>

          {% for items in data %}
            <tr>
              <td>{{ items.domain  }}</td>
              <td>{{ items.registrar  }}</td>
              <td>{{ items.created  }}</td>
              <td>{{ items.expiration  }}</td>
              <td>{{ items.updated  }}</td>

          {% endfor %}

        
        </tbody>
      </table>
    </div>
{% endblock %}