{% extends "base.html" %}
{% block head %}
{% endblock %}

{% block body %}
      <h3>SSH Callouts to Domains</h3>
	<a href="/static/ssh_domain_callouts.csv">Download CSV</a>
          <tr>
            <td><b>Domain</b></td>
            <td><b>Registrar</b></td>
            <td><b>Creation Date</b></td>
            <td><b>Expiration Date</b></td>
            <td><b>Last Updated</b></td>
          </tr>

          {% for items in data %}
            <tr>
              <td>{{ items.domain  }}</td>
              <td>{{ items.registrar  }}</td>
              <td>{{ items.created  }}</td>
              <td>{{ items.expiration  }}</td>
              <td>{{ items.updated  }}</td>
            </tr>
          {% endfor %}
          
{% endblock %}
