{% extends "base.html" %}
{% block head %}
{% endblock %}

{% block body %}
      <h3>Gaspot Connections</h3>
	<a href="/static/gaspot_connections.csv">Download CSV</a>
          <tr>
           <td><b>Time</b></td>
	    <td><b>Command</b></td>
           <td><b>Host</b></td>
           <td><b>ASN</b></td>
           <td><b>Organization</b></td>
           <td><b>Created</b></td>
          </tr>

          {% for items in data %}
            <tr>
	      <td>{{ items.time }} </td>
	      <td>{{ items.command  }}</td>
              <td>{{ items.ip  }}</td>
              <td>{{ items.asn  }}</td>
              <td>{{ items.org  }}</td>
              <td>{{ items.created  }}</td>
            </tr>

          {% endfor %}
{% endblock %}
