{% extends "base.html" %}
{% block head %}
{% endblock %}

{% block body %}
      <h3>SSH Callouts to IP addresses</h3>
	<a href="/static/ssh_IP_callouts.csv">Download CSV</a>
          <tr>
            <td><b>IP Called out to</b></td>
            <td><b>ASN</b></td>
            <td><b>Organization</b></td>
            <td><b>Created</b></td>
          </tr>

          {% for items in data %}
            <tr>
              <td>{{ items.host  }}</td>
              <td>{{ items.asn  }}</td>
              <td>{{ items.org  }}</td>
              <td>{{ items.created  }}</td>
            </tr>

          {% endfor %}

{% endblock %}
