{% extends "base.html" %}
{% block head %}
{% endblock %}

{% block body %}
<h3>Malware from Honeypots with results on VirusTotal</h3>
          <tr>
            <td><b>Scanned</b></td>
            <td><b>Ratio</b></td>
            <td><b>Malware</b></td>
            <td><b>Link on VT</b></td>
          </tr>

          {% for items in data %}
            <tr>
              <td>{{ items.scandate  }}</td>
              <td>{{ items.scanratio  }}</td>
              <td>{{ items.variant  }}</td>
              <td><a href="{{ items.link  }}">More info</a></td>
          {% endfor %}

{% endblock %}